---
import { Card } from "@/components/Card";
import MainLayout from "@/layouts/main.astro";
---

<MainLayout title="Playground Page">
  <div class="grid gap-4">
    <Card />
    <label class="input input-bordered flex items-center gap-2">
      Server side only env variable
      <input
        type="text"
        class="grow"
        placeholder={import.meta.env.SECRET_PASSWORD}
        readonly
      />
    </label>
  </div>
</MainLayout>
